{% extends "base.html" %}

{% block content %}
<h1 class="neon-text big-title">Login</h1>
<form method="POST">
  <div class="neon-field">
    <label class="neon-label" for="username">Username</label>
    <input type="text" id="username" name="username" class="neon-input" placeholder="Enter your username">
  </div>
  <div class="neon-field">
    <label class="neon-label" for="password">Password</label>
    <input type="password" id="password" name="password" class="neon-input" placeholder="Enter your password">
  </div>
  <button type="submit" class="btn">Login</button>
</form>
{% endblock %}
